body {
    background-color: #032C5C;
}

nav {
    background-color: rgb(0, 38, 81);
}

.navbar-brand {
    padding: 1rem 0 1rem 6rem;
}

.navbar-brand img {
    width: 14rem;
}

.navbar .nav-item button {
    background-color: #40D3BC;
    font-weight: bold;
    color: white;
    border: none;
    text-transform: uppercase;
}

.navbar .nav-item:last-child {
    border-right: 1px solid white;
    padding-right: 3rem;
}

.card img {
    width: 6rem;
}

/* %, rem, flexbox, media */