body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fixed-button {
    position: fixed;
    right: 0;
    top: 50%;
    padding: 0.7rem 1rem;
    z-index: 10;
}

/** NAVBAR */
.navbar {
    background-color: black;
    padding: 1rem;
}

.navbar .navbar-brand img {
    width: 12rem;
}

.navbar .nav-item .nav-link {
    color: white;
    margin: 0 0.4rem;
}

.navbar .nav-item .nav-link:hover {
    color: red;
}

/*! NAVBAR */

/* * MAIN BANNER */
.banner {
    position: relative;
}

.banner img {
    max-width: 100%;
}

.banner .btn-danger {
    position: absolute;
    left: 5rem;
    bottom: 4rem;
}

/* ! MAIN BANNER */


/* * MAIN SLIDESHOW */
.main-slideshow .carousel-item {
    position: relative;
}

.main-slideshow .carousel-item .main-slideshow-firstBtn {
    position: absolute;
    bottom: 4rem;
    left: 5rem;
}

.main-slideshow .carousel-item .main-slideshow-secondBtn {
    position: absolute;
    bottom: 4rem;
    right: 20rem;
}

/* ! MAIN SLIDESHOW */

/* * SHOWCASE SECTION */

.showcase .row {
    overflow: hidden;
}

.showcase .row .col-3 {
    height: 13rem;
    background-position: center;
    background-repeat: no-repeat;
    /* *must be a numerical value in order to use transition */
    background-size: 100%;
    /* !background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: background-size 1s ease;
}

.showcase .row .col-3:hover {
    background-size: 110%;
}

.showcase .showcase-subtitle {
    color: white;
    font-weight: bold;
    padding: 1rem 1.8rem;
}

/*! SHOWCASE SECTION */

/* *MOTORCYCLE NAVBAR */
.motorcycle-nav .navbar-brand {
    font-weight: bold;
}

.motorcycle-nav .nav-item {
    border-right: 3px solid white;
    line-height: 1px;
    padding: 0 1rem;
}

.motorcycle-nav .nav-item:last-child {
    border-right: none;
}

/*! MOTORCYCLE NAVBAR */